/* Variables */
$color-white: #FFF
$color-gray: #EEE
$color-dark-gray: #e7e7e7
$color-darker-gray: #CCC

$main-color: #B84E64
$secondary-color: #74c9ac

$main-font-family: 'Open Sans', sans-serif
$main-font-color: #333
$main-placeholder-color: #AAA

$error-color: #900
$error-bg-color: #f9bbbb

$main-line-color: #CCC
$secondary-line-color: #BBB

/* Mixins */
=linearGradient($top, $bottom)
  background: $top
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom))
  background: -webkit-linear-gradient(top,  $top 0%, $bottom 100%)
  background: -o-linear-gradient(top,  $top 0%, $bottom 100%)
  background: -ms-linear-gradient(top,  $top 0%, $bottom 100%)
  background: linear-gradient(to bottom,  $top 0%, $bottom 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='$bottom',GradientType=0 )

=boxSizing($box-sizing)
  -webkit-box-sizing: $box-sizing
  -moz-box-sizing: $box-sizing
  box-sizing: $box-sizing

=linearTransition($value)
  -webkit-transition: $value
  -moz-transition: $value
  -o-transition: $value
  transition: $value

=boxShadow($value)
  -moz-box-shadow: $value
  -webkit-box-shadow: $value
  box-shadow: $value

=borderRadius($value)
  -webkit-border-radius: $value
  -moz-border-radius: $value
  border-radius: $value

/* Imports */
@import normalize

/* Global Tags */
html
  min-height: 100%

body
  background: $color-gray
  color: $main-font-color
  font: 14px/1.3 $main-font-family
  font-weight: 300
  height: 100%
  min-height: 100%
  position: relative;

input,
ul
  margin: 0
  padding: 0

input,
select,
textarea
  background: $color-white
  border: $main-line-color solid 1px
  +boxSizing(border-box)
  color: $main-font-color
  font-size: 14px
  outline: 0
  padding: 7px

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset;

input:focus,
select:focus,
textarea:focus
  border-color: $secondary-line-color

.input-100
  width: 100%

.input-80
  width: 80%

.input-60
  width: 60%

.input-40
  width: 40%

.input-20
  width: 20%

input
  +linearTransition(all 200ms linear)

::-webkit-input-placeholder
  color: $main-placeholder-color

:-moz-placeholder
  color: $main-placeholder-color

::-moz-placeholder
  color: $main-placeholder-color

:-ms-input-placeholder 
  color: $main-placeholder-color

a
  color: $secondary-color
  text-decoration: none

/* Clearfix */
.con:before,
.con:after
  content: ""
  display: table
  height: 0
  line-height: 0

.con:after
  clear: both

.lte7 .con
  zoom: 1

/* Loading Bar */
#loading-bar .bar
  background: #CF8DA0;

#loading-bar-spinner .spinner-icon
  border-top-color: rgba(255, 255, 255, 0.8);
  border-left-color: rgba(255, 255, 255, 0.8);

/* Button */
.button
  background: $secondary-color
  +boxSizing(border-box)
  border: 0
  color: $color-white
  cursor: pointer
  display: inline-block
  font-size: 20px
  padding: 10px 20px
  text-align: center

.button-secondary
    background: $color-darker-gray

.button-medium
  font-size: 14px
  padding: 7px 10px

.button-small
  font-size: 11px
  padding: 4px 7px

.ng-invalid
  .button
    background: $color-darker-gray
    color: $color-white

/* Angular Flash */
.alert
  +boxSizing(border-box)
  bottom: 0
  left: 0
  padding: 20px
  position: fixed
  width: 100%
  z-index: 100

  h4
    margin-top: 0
    color: inherit

  .alert-link
    font-weight: bold

  > p, > ul
    margin-bottom: 0

  > p + p 
    margin-top: 5px

.alert-dismissable,
.alert-dismissible 
  padding-right: 35px

.alert-dismissable .close,
.alert-dismissible .close
  position: relative
  top: -2px
  right: -21px

.alert-success
  background: #B0FF8B
  color: #4E703D

.alert-info
  color: #3c763d
  border-color: #d6e9c6

.alert-warning
  color: #3c763d
  border-color: #d6e9c6

.alert-danger
  background: $error-bg-color
  color: $error-color

.close
  float: right
  font-size: 21px
  font-weight: bold
  line-height: 1
  color: $main-font-color
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)

.close:hover,
.close:focus
  text-decoration: none
  cursor: pointer
  filter: alpha(opacity=50)
  opacity: .5

button.close
  -webkit-appearance: none
  padding: 0
  cursor: pointer
  background: transparent
  border: 0

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.alertIn, .alertOut
  -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1)
  -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1)
  -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1)
  transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1)

.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active
  opacity: 0
  -webkit-transform: translate3d(100px, 0px, 0px)
  transform: translate3d(100px, 0px, 0px)

.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active
  opacity: 1
  -webkit-transform: translate3d(0px, 0px, 0px)
  transform: translate3d(0px, 0px, 0px)

/* Widget */
.widget-col-2
  width: 50%
  float: left
  margin-bottom: 20px

.widget-box
  padding: 0 10px

.widget-title
  padding: 15px
  font-weight: bold
  border-bottom: $secondary-color solid 3px

.widget-content
  padding: 10px
  background: $color-white
  border: $color-dark-gray solid 1px 
  border-top: 0

.widget-overflow
  height: 300px
  overflow: auto

/* Information Table */
.info-table
  table-layout: fixed

  th, td
    padding: 10px 0

  table
    th, td
      padding-top: 0
      padding-bottom: 0

  th
    font-size: 14px
    font-weight: bold
    padding-left: 50px
    padding-right: 15px
    text-align: right
    vertical-align: top
    width: 200px

  tr th:first-child
    padding-left: 0

  td
    border-left: $color-gray solid 1px
    padding-left: 15px
    text-align: left

  img
    vertical-align: top

/* Form Table */
.form-table-wrapper
  padding-bottom: 85px

.form-table
  th, td
    padding: 9px 0
    vertical-align: top

  table
    th, td
      padding-top: 0
      padding-bottom: 0

  th
    font-size: 14px
    font-weight: 300
    padding-left: 15px
    padding-right: 15px
    text-align: right
    line-height: 34px
    width: 200px

  tr th:first-child
    padding-left: 0

  td
    text-align: left

  label
    display: inline-block
    margin-top: 8px
    cursor: pointer

  input[type=checkbox], input[type=radio]
    margin-right: 5px

  input[required], select[required]
    background: #FFFFAE

.form-table-2-cols
  width: 100%

  th
    width: 15%
  td
    width: 35%

.form-sublabel
  margin: 0
  position: relative
  top: -5px

.field-req
  color: #900
  margin-right: 5px
  display: none

.field-break
  margin-top: 10px

.field-next
  margin-left: 20px

.field-error p
  margin: 5px 0 0
  color: $error-color
  font-size: 12px

.form-action
  background: rgba(255, 255, 255, 0.8)
  bottom: 0
  left: 200px
  right: 0
  position: fixed
  padding: 10px 25px

/* Upload & Crop */
.cropper-box
  margin-top: 10px

.cropper-box canvas
  background: #EEE  
  width: 500px
  height: 500px

form .progress
  line-height: 15px

.progress
  display: inline-block
  width: 100px
  border: 3px groove #CCC

.progress div
  font-size: smaller
  background: orange
  width: 0

/* Table */
.table-1-general-action
  margin-bottom: 20px
  text-align: right

.table-1-general-action .button
  margin-left: 15px

.table-1
  width: 100%

  th, td
    padding: 10px
    font-size: 14px
    text-align: left
    vertical-align: top

  th
    border-bottom: $main-color solid 3px

  td
    background: $color-white
    border-bottom: #DDD solid 1px

  tr:hover td
    background: #FFFFAE

  tr.unread td
    font-weight: bold

  .inline-form
    position: relative

    input
      width: 40px

  .action-column
    text-align: right
    white-space: nowrap

    .button
      background: $color-dark-gray
      color: $main-color

    .button:hover
      background: $secondary-color
      color: $color-white

.table-1-small
  th, td
    font-size: 12px

.table-1-sortable
  th
    cursor: pointer

    .sort-active.sort-asc:after
      content: "\2193"
      margin-left: 5px

    .sort-active.sort-desc:after
      content: "\2191"
      margin-left: 5px

.table-filter
  list-style: none
  margin: -25px -25px 25px
  padding: 10px 20px
  background: $color-dark-gray

  li
    float: left
    margin: 5px 0 5px 15px
    height: 38px

  label
    margin-right: 5px
    font-size: 13px

  .filter-text-small
    width: 100px

  .filter-text-medium
    width: 175px

  .filter-text-long
    width: 300px

  .button
    font-size: 14px
    padding: 8px 12px

  .filter-check-radio
    cursor: pointer
    display: block
    padding: 10px 0

    input
      vertical-align: middle
      margin-right: 5px

.selectize-control
  display: inline-block
  vertical-align: middle

.selectize-input
  padding-right: 40px

/* Pagination */
.pagination
  background: $color-white
  border-top: $main-color solid 2px
  display: block
  font-size: 16px
  list-style: none
  margin: 20px 0 0
  text-align: center

  li
    background: $color-white
    cursor: pointer
    display: inline-block
    padding: 8px 13px

  li.active
    background: $secondary-color
    color: $color-white

/* vAccordion */
.vAccordion--default v-pane.is-expanded>v-pane-header
  border-bottom-color: $secondary-color
.vAccordion--default v-pane-header:focus, .vAccordion--default v-pane-header:hover
  color: $secondary-color
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before
  background-color: $secondary-color
.vAccordion--default v-pane-header
  font-size: 16px
  padding: 10px 10px 10px 30px
  margin-bottom: 0
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before
  background: $main-color
  height: 2px
  left: 10px
  right: auto
.vAccordion--default v-pane-content
  margin-bottom: 20px
.vAccordion--default v-pane-content>div
  padding: 20px
  background: $color-white
  border: $color-dark-gray solid 1px
  border-top: none

/* Modal */
.modal
  content: ''
  position: fixed
  top: 0
  left: 0
  background: rgba(0, 0, 0, 0.7)
  width: 100%
  height: 100%
  text-align: center

.modal-dialog
  background: $color-white
  border-top: $secondary-color solid  5px
  display: inline-block
  padding: 20px 40px
  position: relative

.modal-close
  position: absolute
  top: 6px
  right: 10px

.modal-header
  font-size: 24px
  margin-bottom: 20px

.modal-footer
  margin-top: 20px

.modal-footer .button
  margin-right: 5px
  margin-left: 5px

/* Layout */
.left-side
  width: 200px
  background: #BA4F65
  color: #FFF
  float: left

  a
    color: #FFF

.left-side-absolute
  position: absolute
  top: 0
  left: 0
  bottom: 0

.company-name
  background: #CF8DA0
  height: 75px
  font-size: 22px
  height: 75px
  line-height: 65px
  text-align: center
  font-weight: bold

.company-name span
  color: #b9cae9

.left-menu-box
  padding: 20px
  border-bottom: #994153 solid 1px

  h4
    margin: 0
    font-size: 18px
    font-weight: 300

  h4 a
    color: #74c9ac

.left-menu-active
  border: #EEE solid 1px
  border-right: none
  background: #783341
  position: relative

.left-menu-active:before
  content: ""
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 5px
  background: #74c9ac

.left-menu
  list-style: none
  font-size: 14px
  margin: 10px 0 0

  li
    padding: 5px 0

  ul
    margin-top: 5px
    margin-left: 25px
    list-style: square

  a
    display: block

.left-menu-bold
  font-weight: bold

.right-side
  margin: 0 0 0 200px

.top-right
  float: right
  line-height: 75px
  padding: 0 25px
  font-size: 14px

.top-bar
  padding: 17px 25px
  background: #FFF

  h1, h1 a
    font-size: 20px
    font-weight: 300
    margin: 0
    color: #424e64

  h1 span
    font-size: 12px
    display: inline-block
    color: #999999
    vertical-align: top
    margin: 6px 3px 0

.subtitle
  color: #999
  font-size: 12px

.main-content
  overflow: auto
  padding: 25px

  h1
    font-weight: 300
    margin: 0 0 25px

/* Login Form */
.login-form
  width: 400px
  margin: 0 auto
  background: $color-white
  padding: 30px
  font-size: 24px
  border-top: $main-color solid 5px

  h1
    font-weight: 300
    margin: 0

.login-error-form
  margin-top: -205px

.error-message
  color: $error-color
  margin: 20px 0
  background: $error-bg-color
  border-width: 1px 0
  padding: 10px

.form-input
  margin: 20px 0 0
  display: block

  input
    width: 100%
    font-size: 24px
    padding: 10px