doctype html
html(ng-app='adminApp', ng-controller='MainController')
  head
    title Delihome Administration
    base(href='/admin/')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300')
    link(rel='stylesheet', href='stylesheets/all.min.css')
    script.
      var base_url = 'https://'+window.location.hostname+':'+window.location.port+'/admin';
    script(src='javascripts/all.min.js')
  body(min-window-height)
    div(ng-view, autoscroll='true')
    