extends ../layout

block header

  h1 Order {{ status | orderStatus }}
    span(ng-if='filterData.idLadyJek') > {{ filterData.idLadyJek }}
    div(class='subtitle') {{ total }} order/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()', ng-if="status == 'ended'")
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='idLadyJek') LadyJek ID:
        input(type='text', ng-model='filterData.idLadyJek', name='idLadyJek')
      li
        label(for='from') From:
        input(type='text', ng-model='filterData.from', name='from')
      li
        label(for='to') To:
        input(type='text', ng-model='filterData.to', name='to')
      li
        label(class='filter-check-radio')
          input(type='checkbox', ng-model='filterData.includeCanceled', name='includeCanceled', ng-true-value='1', ng-checked='filterData.includeCanceled == 1')
          | Include Canceled
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  div(class='table-1-general-action')
    a(class='button button-medium', ng-click="refreshResult()") Refresh
    a(class='button button-medium', ng-click="exportResult()", ng-if="status == 'ended'") Export to Excel

  table(class='table-1 table-1-small table-1-sortable')
    tr
      th(ng-click="changeSort('transactionId')")
        span(ng-class="[{'sort-active':(sort == 'transactionId')}, 'sort-'+sortOrder]") ID
      th User
      th Biker
      th(ng-click="changeSort('createdAt')")
        span(ng-class="[{'sort-active':(sort == 'createdAt')}, 'sort-'+sortOrder]") Created At
      th(ng-click="changeSort('startedAt')", ng-if="status == 'started' || status == 'ended'")
        span(ng-class="[{'sort-active':(sort == 'startedAt')}, 'sort-'+sortOrder]") Started At
      th(ng-click="changeSort('endedAt')", ng-if="status == 'ended'")
        span(ng-class="[{'sort-active':(sort == 'endedAt')}, 'sort-'+sortOrder]") Ended At
      th(ng-click="changeSort('from')")
        span(ng-class="[{'sort-active':(sort == 'from')}, 'sort-'+sortOrder]") Start
      th(ng-click="changeSort('to')")
        span(ng-class="[{'sort-active':(sort == 'to')}, 'sort-'+sortOrder]") End
      th(ng-click="changeSort('price')")
        span(ng-class="[{'sort-active':(sort == 'price')}, 'sort-'+sortOrder]") Fee
      th(ng-click="changeSort('status')")
        span(ng-class="[{'sort-active':(sort == 'status')}, 'sort-'+sortOrder]") Status
    tr(ng-repeat='order in orders')
      td {{ order.transactionId }}
      td(ng-if='order.user') {{ order.user.name }}
        br
        | ({{ order.user.phoneNumbers[0] | phoneNumber }})
      td(ng-if='!order.user') N/A
      td(ng-if='order.driver') {{ order.driver.name }}
        br
        | ({{ order.driver.phoneNumber | phoneNumber }})
      td(ng-if='!order.driver') N/A
      td {{ order.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}
      td(ng-if="status == 'started' || status == 'ended'") {{ order.startedAt | date:'dd MMMM yyyy, HH:mm:ss' }}
      td(ng-if="status == 'ended'") {{ order.endedAt | date:'dd MMMM yyyy, HH:mm:ss' }}
      td {{ order.from }}
      td {{ order.to }}
      td {{ order.price | currency : 'Rp' : 0 }}
        br(ng-if="order.firstTrip")
        span(ng-if="order.firstTrip") (Promo)
      td {{ order.status | orderStatus }}

  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )