extends ../layout

block header

  h1
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Activate: {{ driver.name }}
    div(class='subtitle') Please correctly fill the form below.

block content

  v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')
    v-pane(expanded="true")
      v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Account Info
      v-pane-content(id="pane-0-content")
        table(class='info-table')
          tr
            th ID
            td {{ data.idLadyJek }}
          tr
            th Password
            td(style='font-size:20px;font-weight:bold') {{ data.password }}

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && activate()', form-processing)
    v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')
      v-pane(expanded="true")
        v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Document Info
        v-pane-content(id="pane-0-content")
          table(class='form-table')
            tr
              th
                span(class='field-req') *
                | Saved Documents
              td
                label
                  input(type='radio', name='documents', ng-model='data.documents', value='Akte Lahir', required)
                  | Akte Lahir
                br
                label
                  input(type='radio', name='documents', ng-model='data.documents', value='Kartu Keluarga', required)
                  | Kartu Keluarga
                br
                label
                  input(type='radio', name='documents', ng-model='data.documents', value='Surat Nikah', required)
                  | Surat Nikah
                br
                label
                  input(type='radio', name='documents', ng-model='data.documents', value='Ijazah', required)
                  | Ijazah
                br
                label
                  input(type='radio', name='documents', ng-model='data.documents', value='BPKB', required)
                  | BPKB
                br
                div(class="field-error", ng-messages="form.data.documents.$error", ng-if="form.data.documents.$touched")
                  p(ng-message="required") Please fill Saved Documents
            tr
              th Documents
              td
                label
                  input(type='checkbox', name='kelengkapanDocument[0]', ng-model='data.kelengkapanDocument[0]', ng-true-value="'Fotokopi KTP'", ng-false-value="''", ng-required="kelengkapanDocument.join('').length == 0 && kelengkapanDocumentLainnya == ''")
                  | Copy of KTP
                br
                label
                  input(type='checkbox', name='kelengkapanDocument[1]', ng-model='data.kelengkapanDocument[1]', ng-true-value="'Fotokopi SIM'", ng-false-value="''", ng-required="kelengkapanDocument.join('').length == 0 && kelengkapanDocumentLainnya == ''")
                  | Copy of SIM
                br
                label
                  input(type='checkbox', name='kelengkapanDocument[2]', ng-model='data.kelengkapanDocument[2]', ng-true-value="'Fotokopi STNK'", ng-false-value="''", ng-required="kelengkapanDocument.join('').length == 0 && kelengkapanDocumentLainnya == ''")
                  | Copy of STNK
                br
                label
                  input(type='checkbox', name='kelengkapanDocument[3]', ng-model='data.kelengkapanDocument[3]', ng-true-value="'Fotokopi Kartu Keluarga'", ng-false-value="''", ng-required="kelengkapanDocument.join('').length == 0 && kelengkapanDocumentLainnya == ''")
                  | Copy of Kartu Keluarga
                br
                label
                  input(type='checkbox', ng-checked='data.kelengkapanDocumentLainnya')
                  | Other:
                  input(class='field-next', type='text', name='kelengkapanDocumentLainnya', ng-model='data.kelengkapanDocumentLainnya', ng-required="kelengkapanDocument.join('').length == 0")
                div(
                  class="field-error",
                  ng-messages="form.data.kelengkapanDocument[0].$error || form.data.kelengkapanDocument[1].$error || form.data.kelengkapanDocument[2].$error || form.data.kelengkapanDocument[3].$error || form.data.kelengkapanDocument[4].$error",
                  ng-if="form.data.kelengkapanDocument[0].$touched || form.data.kelengkapanDocument[1].$touched || form.data.kelengkapanDocument[2].$touched || form.data.kelengkapanDocument[3].$touched || form.data.kelengkapanDocument[4].$touched"
                )
                  p(ng-message="required") Please fill Documents
                div(class="field-error", ng-messages="form.data.kelengkapanDocumentLainnya.$error", ng-if="form.data.kelengkapanDocumentLainnya.$touched")
                  p(ng-message="required") Please fill Documents


    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')