extends ../layout

block header

  h1
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Change Photo: {{ driver.name }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-class="{'ng-valid':cropper.croppedImage,'ng-invalid':!cropper.croppedImage}", ng-submit='cropper.croppedImage && upload(cropper.croppedImage)', form-processing)
    table(class="form-table")
      tr
        th Current Photo
        td
          img(ng-src="{{ '..' + driver.getPhoto.url }}", ng-if="driver.photo")
          span(ng-if="!driver.photo") N/A
      tr
        th Change
        td
          input(type='file', img-cropper-fileread='', image='cropper.sourceImage')
          div(class='cropper-box', ng-show='cropper.sourceImage')
            canvas#canvas(width='500', height='500', image-cropper='', image='cropper.sourceImage', cropped-image='cropper.croppedImage', crop-width='200', crop-height='200', keep-aspect='true', touch-radius='30', crop-area-bounds='bounds')
          span.progress(ng-show='progress >= 0')
            div(style='width:{{progress}}%', ng-bind="progress + '%'")

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')