extends ../layout

block header

  h1
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Export
    div(class='subtitle') Add downloaded file with .xls extension.

block content

  form(name='form', ng-submit='export()')
    table(class='form-table')
      tr
        th From
        td
          input(type='text', name='from', ng-model='from')
      tr
        th To
        td
          input(type='text', name='to', ng-model='to')

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Download', class='button')