extends ../layout

block header

  h1(ng-if='!updateDriverName')
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateDriverName')
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateDriverName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')
      v-pane(expanded="true")
        v-pane-header(id="pane-1-header" aria-controls="pane-1-content") Registrant Data
        v-pane-content(id="pane-1-content")
          table(class='form-table form-table-2-cols')
            tr
              th
                span(class='field-req') *
                | Name
              td
                input(type='text', name='name', ng-model='driver.name', class='input-80', required, server-error)
                div(class="field-error", ng-messages="form.name.$error", ng-if="form.name.$touched")
                  p(ng-message="required") Please fill Name
                  p(ng-message="server") {{ serverErrors.name }}
              th Email
              td
                input(type='email', name='email', ng-model='driver.email', class='input-80', server-error)
                div(class="field-error", ng-messages="form.email.$error", ng-if="form.email.$touched")
                  p(ng-message="email") Invalid Email
                  p(ng-message="server") {{ serverErrors.email }}
            tr
              th Mother's Name
              td
                input(type='text', name='namaIbuKandung', ng-model='driver.namaIbuKandung', class='input-80')
              th Date of Birth
              td
                input(type='text', name='dob', ng-model='driver.dob', placeholder='dd-mm-yyyy')
            tr
              th
                span(class='field-req') *
                | KTP
              td
                input(type='number', name='nomorKTP', ng-model='driver.nomorKTP', class='input-60', required)
                div(class="field-error", ng-messages="form.nomorKTP.$error", ng-if="form.nomorKTP.$touched")
                  p(ng-message="required") Please fill KTP
                  p(ng-message="integer") Invalid KTP
                  p(ng-message="server") {{ serverErrors.nomorKTP }}
              th SIM C
              td
                input(type='number', name='nomorSIMC', ng-model='driver.nomorSIMC', class='input-60')
                div(class="field-error", ng-messages="form.nomorSIMC.$error", ng-if="form.nomorSIMC.$touched")
                  p(ng-message="integer") Invalid SIM C
                  p(ng-message="server") {{ serverErrors.nomorSIMC }}
            tr
              th House Phone
              td
                input(type='number', name='telpRumah', ng-model='driver.telpRumah', class='input-60')
                div(class="field-error", ng-messages="form.telpRumah.$error", ng-if="form.telpRumah.$touched")
                  p(ng-message="integer") Invalid House Phone
              th
                span(class='field-req') *
                | HP
              td
                input(type='text', name='phoneNumber', ng-model='driver.phoneNumber', class='input-60', required, server-error)
                div(class="field-error", ng-messages="form.phoneNumber.$error", ng-if="form.phoneNumber.$touched")
                  p(ng-message="required") Please fill HP
                  p(ng-message="server") {{ serverErrors.phoneNumber }}
            tr
              th
                span(class='field-req') *
                | Address
              td(colspan='3')
                input(type='text', name='address', ng-model='driver.address', class='input-40', required)
                div(class="field-error", ng-messages="form.address.$error", ng-if="form.address.$touched")
                  p(ng-message="required") Please fill Address
            tr
              th RT
              td
                input(type='text', name='rt', ng-model='driver.rt', placeholder='RT', class='input-20')
              th RW
              td
                input(type='text',, name='rw' ng-model='driver.rw', placeholder='RW', class='input-20')
            tr
              th Kelurahan
              td
                input(type='text', name='kelurahan', ng-model='driver.kelurahan', placeholder='Kelurahan', class='input-60')
              th Kecamatan
              td
                input(type='text', name='kecamatan', ng-model='driver.kecamatan', placeholder='Kecamatan', class='input-60')
            tr
              th City
              td
                input(type='text', name='kota', ng-model='driver.kota', placeholder='Kota', class='input-60')
              th House Status
              td
                select(ng-model='driver.statusRumah', name='statusRumah')
                  option(value='') - Select -
                  option(value='Milik sendiri') Milik sendiri
                  option(value='Kontrak') Kontrak
                  option(value='Menumpang') Menumpang
            tr
              th Relationship
              td
                select(ng-model='driver.statusNikah', name='statusNikah')
                  option(value='') - Select -
                  option(value='Single') Single
                  option(value='Menikah') Menikah
                  option(value='Cerai') Cerai
              th Number of Children
              td
                input(type='text', name='jumlahAnak', ng-model='driver.jumlahAnak', class='input-20')
                input(type='text', name='usiaAnakBungsu', ng-model='driver.usiaAnakBungsu', placeholder='Usia Anak Bungsu', class='field-next input-40')
            tr
              th Height / Weight
              td
                input(type='text', name='tinggi', ng-model='driver.tinggi', placeholder='Height', class='input-20')
                span(style='margin:0 10px') /
                input(type='text', name='berat', ng-model='driver.berat', placeholder='Weight', class='input-20')
              th Glasses
              td
                select(ng-model='driver.kacamata', name='kacamata')
                  option(value='') - Select -
                  option(value='Ya') Ya
                  option(value='Tidak') Tidak
                select(ng-model='driver.kacamataMinPlus', name='kacamataMinPlus', class='field-next', ng-if="driver.kacamata == 'Ya'")
                  option(value='') Min / Plus
                  option(value='Min') Min
                  option(value='Plus') Plus
            tr
              th Last Education
              td(colspan='3')
                select(name='pendidikan', ng-model='driver.pendidikan')
                  option(value='') - Select -
                  option(value='SD') SD
                  option(value='SMP') SMP
                  option(value='SMA') SMA
                  option(value='D1') D1
                  option(value='D2') D2
                  option(value='D3') D3
                  option(value='D4') D4
                  option(value='Sarjana') Sarjana
                  option(value='Master') Master

      v-pane(expanded="true")
        v-pane-header(id="pane-2-header" aria-controls="pane-2-content") Emergency Contact
        v-pane-content(id="pane-2-content")
          table(class='form-table form-table-2-cols')
            tr
              th Name
              td
                input(type='text', name='kontakDaruratNama', ng-model='driver.kontakDaruratNama', class='input-80')
              th Relation
              td
                input(type='text', name='kontakDaruratHubungan', ng-model='driver.kontakDaruratHubungan', class='input-60')
            tr
              th House Phone
              td
                input(type='text', name='kontakDaruratTelpRumah', ng-model='driver.kontakDaruratTelpRumah', class='input-60')
              th HP
              td
                input(type='text', name='kontakDaruratHP', ng-model='driver.kontakDaruratHP', class='input-60')

      v-pane(expanded="true")
        v-pane-header(id="pane-3-header" aria-controls="pane-3-content") Referral Info
        v-pane-content(id="pane-3-content")
          table(class='form-table form-table-2-cols')
            tr
              th Introduced By
              td
                input(type='text', name='dikenalOleh', ng-model='driver.dikenalOleh', class='input-80')
              th LadyJek ID
              td
                input(type='text', name='dikenalID', ng-model='driver.dikenalID', class='input-60')
            tr
              th Koordinator Lap
              td
                input(type='text', class='input-80')
              th Korlap ID
              td
                input(type='text', name='idKopLap', ng-model='driver.idKopLap', class='input-60')

      v-pane(expanded="true", ng-if='updateDriverName')
        v-pane-header(id="pane-4-header" aria-controls="pane-4-content") Photo
        v-pane-content(id="pane-4-content")
          table(class='info-table')
            tr
              th Photo
              td
                img(ng-src="{{ '..' + driver.getPhoto.url }}", ng-if="driver.photo")
                span(ng-if="!driver.photo") N/A
                a(ng-click="changePhoto()", class='button button-small', style='margin-left:15px') Change
                a(ng-click="deletePhoto()", class='button button-small', ng-if='driver.photo') Delete

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')