extends ../layout

block header

  h1 Biker
    div(class='subtitle') {{ total }} biker/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='idLadyJek') ID:
        input(type='text', ng-model='filterData.idLadyJek', name='idLadyJek')
      li
        label(for='name') Name:
        input(type='text', ng-model='filterData.name', name='name')
      li
        label(for='phoneNumber') HP:
        input(type='text', ng-model='filterData.phoneNumber', name='phoneNumber')
      li
        label(for='emailRegistrant') Officer:
        input(type='text', ng-model='filterData.emailRegistrant', name='emailRegistrant')
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('_id')") 
        span(ng-class="[{'sort-active':(sort == '_id')}, 'sort-'+sortOrder]") ID
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('phoneNumber')")
        span(ng-class="[{'sort-active':(sort == 'phoneNumber')}, 'sort-'+sortOrder]") HP
      th(ng-click="changeSort('emailRegistrant')")
        span(ng-class="[{'sort-active':(sort == 'emailRegistrant')}, 'sort-'+sortOrder]") Officer
      th(ng-click="changeSort('status')")
        span(ng-class="[{'sort-active':(sort == 'status')}, 'sort-'+sortOrder]") Status
      th
    tr(ng-repeat='driver in drivers')
      td {{ driver.idLadyJek }}
      td {{ driver.name }}
      td {{ driver.phoneNumber | phoneNumber }}
      td {{ driver.emailRegistrant }}
      td {{ driver.status | driverStatus }}
      td(class='action-column')
        a(ng-if='driver.status == 0', ng-click="action('activate', $index)", class='button button-small') Activate
        a(ng-if='driver.status == 1', ng-click="action('reset-password', $index)", class='button button-small') Reset Password
        a(ng-click="action('view', $index)", class='button button-small') Detail
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete

  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )