div(class="modal fade", custom-modal)
  div(class="modal-dialog", middle-from-window)
    button(type="button", class="close modal-close", ng-click="close()", data-dismiss="modal", aria-hidden="true") &times;
    div(class="modal-content")
      div(class="modal-header") Reset password biker {{ driver.name }} with:
      div(class="modal-body", style='font-size: 30px; font-weight: bold') {{ password }}
      div(class="modal-footer")
        a(ng-click='resetPassword()', class='button button-medium') Reset
        a(ng-click='close()', class='button button-medium button-secondary') Cancel