div(class="modal fade", custom-modal)
  div(class="modal-dialog", middle-from-window)
    button(type="button", class="close modal-close", ng-click="close()", data-dismiss="modal", aria-hidden="true") &times;
    div(class="modal-content")
      div(class="modal-header") Delete biker {{ driver.name }}
      div(class="modal-body")
        form(name='form', novalidate, ng-submit='form.$valid && delete()', form-processing, accessible-form)
          input(type='password', name='password', ng-model='password', placeholder='Password', required, server-error)
          div(class="field-error", ng-messages="form.password.$error", ng-if="form.password.$touched")
            p(ng-message="required") Please fill password
            p(ng-message="server") {{ serverErrors.password }}
      div(class="modal-footer")
        a(ng-click='delete()', class='button button-medium') Delete
        a(ng-click='close()', class='button button-medium button-secondary') Cancel