extends ../layout

block header

  h1
    a(href='drivers') Biker
    | &nbsp;
    span >
    | &nbsp;Detail: {{ driver.name }}
    div(class='subtitle') Showing biker info

block content

  div(class='table-1-general-action')
    a(class='button button-medium', ng-href="orders/ended?idLadyJek={{ driver.idLadyJek }}") Show Order History

  v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')
    v-pane(expanded="true")
      v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Identity Info
      v-pane-content(id="pane-0-content")
        table(class='info-table')
          tr
            th KTP
            td {{ driver.nomorKTP || 'n/a' }}
              small(ng-show='driver.nomorKTP && driver.ktpBerlakuSampai') &nbsp;(valid until {{ driver.ktpBerlakuSampai || 'n/a' }})
          tr
            th SIM C
            td {{ driver.nomorSIMC || 'n/a' }}
              small(ng-show='driver.nomorSIMC && driver.simBerlakuSampai') &nbsp;(valid until {{ driver.simBerlakuSampai || 'n/a' }})

    v-pane(expanded="true")
      v-pane-header(id="pane-1-header" aria-controls="pane-1-content") Personal Info
      v-pane-content(id="pane-1-content")
        table(class='info-table')
          tr
            th Name
            td {{ driver.name || 'n/a' }}
          tr
            th Date of Birth
            td {{ driver.dob || 'n/a' }}
          tr
            th Last Education
            td {{ driver.pendidikan || 'n/a' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-2-header" aria-controls="pane-2-content") Contact Info
      v-pane-content(id="pane-2-content")
        table(class='info-table')
          tr
            th HP
            td {{ driver.phoneNumber || 'n/a' }}
          tr
            th House Phone
            td {{ driver.telpRumah || 'n/a' }}
          tr
            th Email
            td {{ driver.email.toLowerCase() || 'n/a' }}
          tr
            th Address
            td
              | {{ driver.address || 'n/a' }}
              br
              | RT {{ driver.rt || 'n/a' }}. RW {{ driver.rw || 'n/a' }}. Kelurahan {{ driver.kelurahan || 'n/a' }}. Kecamatan {{ driver.kecamatan || 'n/a' }}.
              br
              | {{ driver.kota || 'n/a' }}
          tr
            th House Status
            td {{ driver.statusRumah || 'n/a' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-3-header" aria-controls="pane-3-content") Physical Info
      v-pane-content(id="pane-3-content")
        table(class='info-table')
          tr
            th Height
            td {{ driver.tinggi || 'n/a' }} cm
          tr
            th Weight
            td {{ driver.berat || 'n/a' }} kg
          tr
            th Glasses
            td {{ driver.kacamata || 'n/a' }} | {{ driver.kacamataMinPlus || 'n/a' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-4-header" aria-controls="pane-4-content") Family Info
      v-pane-content(id="pane-4-content")
        table(class='info-table')
          tr
            th Relationship
            td {{ driver.statusNikah || 'n/a' }}
          tr
            th Mother's Name
            td {{ driver.namaIbuKandung || 'n/a' }}
          tr
            th Number of Children
            td {{ driver.jumlahAnak || 'n/a' }}
          tr
            th Age of youngest child
            td {{ driver.usiaAnakBungsu || 'n/a' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-4-header" aria-controls="pane-4-content") Emergency Contact Info
      v-pane-content(id="pane-4-content")
        table(class='info-table')
          tr
            th Name
            td {{ driver.kontakDaruratNama || 'n/a' }}
          tr
            th Relation
            td {{ driver.kontakDaruratHubungan || 'n/a' }}
          tr
            th HP
            td {{ driver.kontakDaruratHP || 'n/a' }}
          tr
            th House Phone
            td {{ driver.kontakDaruratTelpRumah || 'n/a' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-4-header" aria-controls="pane-4-content") Referral Info
      v-pane-content(id="pane-4-content")
        table(class='info-table')
          tr
            th LadyBiker Name
            td {{ driver.dikenalOleh || 'n/a' }}
          tr
            th LadyBiker ID
            td {{ driver.dikenalID || 'n/a' }}
          tr
            th Korlap ID
            td {{ driver.idKopLap || 'n/a' }}