doctype html
html(ng-app='adminApp', ng-controller='MainController', lang="en", class="body-full-height")
  head
    title Joli Admin - Responsive Bootstrap Admin Template
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/admin/')
    link(rel='stylesheet', href='stylesheets/all.min.css')
    script.
      var base_url = 'https://'+window.location.hostname+':'+window.location.port+'/admin';
    script(src='javascripts/all.min.js')
  body(ng-view, autoscroll='true')