extends layout

block content
	div#portlet(class="portlet")
		div(class='form-group')
			form#add-driver-form(name='actDriverForm', novalidate, ng-submit='actDriver()')
				h2 Activate Driver Drivers

				div(class='container')
					div(class="form-group")
						label(for="inputEmail1" class="col-md-1 control-label") Name
						div(class="col-md-4")
							input(type="email" class="form-control" id="inputEmail1" placeholder="Email")
						label(for="inputEmail1" class="col-md-1 control-label") Email
						div(class="col-md-4")
							input(type="email" class="form-control" id="inputEmail1" placeholder="Email")