extends layout

block content
	div#portlet(class="portlet")
		div(class='form-group')
			form#add-driver-form(name='addDriverForm', ng-submit='addDriver()')
				h2 Create New Drivers

				div(class='row')
					label(for='dataPribadi' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:16px; font-weight:bold; text-decoration:underline;') DATA PRIBADI
				div(class='row' style='')
					div(class='md6')
						div(class='form-input' ng-class="{ 'has-error': errors.name }")
							input#name(type='text', name='name', placeholder='Name* (required)', ng-model='name', required, ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.name") {{ errors.name }}
					div(class='md6')
						div(class='form-input')
							input(type='email', name='email', placeholder='Email', ng-model='email', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.email") {{ errors.email }}

				div(class='row' style='margin-bottom:-8px; margin-top:25px;')
					label(for='identitas' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Identitas
				div(class='row' style='margin-top:5px;')
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='nomorKTP', placeholder='Nomor KTP* (required)', ng-model='nomorKTP', required, ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.nomorKTP") {{ errors.nomorKTP }}
					div(class='md6')
						div(class='form-input')
							input(type='text', name='nomorSIMC', placeholder='Nomor SIM C', ng-model='nomorSIMC', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.nomorSIMC") {{ errors.nomorSIMC }}
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							div(class="input-group" style="width:90%")
								input(type='text', class='form-control', name='ktpBerlakuSampai', pick-a-date="date", placeholder="Berlaku Sampai (dd-mm-yyyy)", required, style="width:100%;", ng-model='ktpBerlakuSampai')
								span(class="input-group-addon")
									i(class="glyphicon glyphicon-calendar")
						div(class="field-error", ng-show="errors.ktpBerlakuSampai") {{ errors.ktpBerlakuSampai }}
					div(class='md6')
						div(class='form-input')
							div(class="input-group" style="width:90%")
								input(type='text', class='form-control', name='simBerlakuSampai', placeholder="Berlaku Sampai (dd-mm-yyyy)", style="width:100%;", ng-model='simBerlakuSampai')
								span(class="input-group-addon")
									i(class="glyphicon glyphicon-calendar")
							div(class="field-error", ng-show="errors.simBerlakuSampai") {{ errors.simBerlakuSampai }}


				div(class='row' style='margin-bottom:-8px; margin-top:25px;')
					label(for='nomorKontak' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Nomor Kontak
				div(class='row' style='margin-top:0px;')
					div(class='md6')
						div(class='form-input')
							input(type='text', name='telpRumah', placeholder='Telp Rumah e.g. 021xxx', ng-model='telpRumah', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.telpRumah") {{ errors.telpRumah }}
					div(class='md6')
						div(class='form-input')
							input(type='text', name='phoneNumber', placeholder='HP* e.g. 08xxx (required)', ng-model='phoneNumber', required, ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.phoneNumber") {{ errors.phoneNumber }}

				div(class='row' style='margin-top:35px;')
					div(class='md12' width='100%')
						div(class='form-input')
							input(type='text', style='width:98%;', name='address', placeholder='Alamat Tinggal* (required)', ng-model='address', required, ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.address") {{ errors.address }}
				div(class='row')
					div(class='md1')
						div(class='form-input')
							input(type='text', name='rt', placeholder='RT', ng-model='rt', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.rt") {{ errors.rt }}
					div(class='md1')
						div(class='form-input')
							input(type='text', name='rw', placeholder='RW', ng-model='rw', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.rw") {{ errors.rw }}
					div(class='md5')
						div(class='form-input')
							input(type='text', name='kelurahan', placeholder='Kelurahan', ng-model='kelurahan', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kelurahan") {{ errors.kelurahan }}
					div(class='md5')
						div(class='form-input')
							input(type='text', name='kecamatan', placeholder='Kecamatan', ng-model='kecamatan', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kecamatan") {{ errors.kecamatan }}
				div(class='row')
					div(class='md6')
						div(class='form-input')
							input(type='text', name='kota', placeholder='Kota', ng-model='kota', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kota") {{ errors.kota }}
					div(class='md6')
						div(class='form-input')
							select(name='statusRumah', ng-model='statusRumah')
								option(value='') Status Rumah
								option(value='Milik sendiri') Milik sendiri
								option(value='Kontrak') Kontrak
								option(value='Menumpang') Menumpang
						div(class="field-error", ng-show="errors.statusRumah") {{ errors.statusRumah }}

				div(class='row' style='margin-bottom:-8px; margin-top:35px;')
					label(for='Status' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Status
				div(class='row' style='')
					div(class='md3')
						div(class='form-input')
							select(name='statusNikah', ng-model='statusNikah')
								option(value='') Status Nikah
								option(value='Single') Single
								option(value='Menikah') Menikah
								option(value='Cerai') Cerai
						div(class="field-error", ng-show="errors.statusNikah") {{ errors.statusNikah }}
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='jumlahAnak', placeholder='Jumlah anak', ng-model='jumlahAnak', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.jumlahAnak") {{ errors.jumlahAnak }}
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='usiaAnakBungsu', placeholder='Usia anak bungsu', ng-model='usiaAnakBungsu', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.usiaAnakBungsu") {{ errors.usiaAnakBungsu }}
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='namaIbuKandung', placeholder='Nama ibu kandung', ng-model='namaIbuKandung', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.namaIbuKandung") {{ errors.namaIbuKandung }}

				div(class='row' style='margin-bottom:-8px; margin-top:35px;')
					label(for='Fisik' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Fisik
				div(class='row' style='')
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='tinggi', placeholder='Tinggi', ng-model='tinggi', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.tinggi") {{ errors.tinggi }}
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='berat', placeholder='Berat', ng-model='berat', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.berat") {{ errors.berat }}
					div(class='md3')
						div(class='form-input')
							select(name='kacamata', ng-model='kacamata')
								option(value='') Kacamata
								option(value='Tidak') Tidak
								option(value='Ya') Ya
						div(class="field-error", ng-show="errors.kacamata") {{ errors.kacamata }}
					div(class='md3')
						div(class='form-input')
							input(type='text', class='form-input', name='kacamataMinPlus', placeholder='Min / Plus', ng-model='kacamataMinPlus', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kacamataMinPlus") {{ errors.kacamataMinPlus }}

				div(class='row' style='margin-bottom:-8px; margin-top:15px;')
					label(for='pendidikan' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Pendidikan
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							select(name='pendidikan', ng-model='pendidikan')
								option(value='') Pendidikan
								option(value='SD') SD
								option(value='SMP') SMP
								option(value='SMA') SMA
								option(value='D1') D1
								option(value='D2') D2
								option(value='D3') D3
								option(value='D4') D4
								option(value='Sarjana') Sarjana
								option(value='Master') Master
						div(class="field-error", ng-show="errors.pendidikan") {{ errors.pendidikan }}

				div(class='row' style='margin-bottom:-8px; margin-top:35px;')
					label(for='nomorKTP' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:14px; font-weight:bold;') Kontak Darurat
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='kontakDaruratNama', placeholder='Kontak darurat nama', ng-model='kontakDaruratNama', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kontakDaruratNama") {{ errors.kontakDaruratNama }}
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='kontakDaruratHubungan', placeholder='Kontak darurat hubungan', ng-model='kontakDaruratHubungan', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kontakDaruratHubungan") {{ errors.kontakDaruratHubungan }}
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='kontakDaruratTelpRumah', placeholder='Kontak darurat telp rumah e.g. 02xxx', ng-model='kontakDaruratTelpRumah', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kontakDaruratTelpRumah") {{ errors.kontakDaruratTelpRumah }}
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='kontakDaruratHP', placeholder='Kontak darurat hp e.g. 08xxx', ng-model='kontakDaruratHP', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.kontakDaruratHP") {{ errors.kontakDaruratHP }}

				div(class='row' style='margin-bottom:-8px; margin-top:55px;')
					label(for='nomorKTP' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:16px; font-weight:bold; text-decoration:underline;') REFERAL
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='dikenalOleh', placeholder='Dikenalkan oleh (Nama Ladybiker)', ng-model='dikenalOleh', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.dikenalOleh") {{ errors.dikenalOleh }}
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='dikenalID', placeholder='Dikenalkan oleh (ID Ladybiker)', ng-model='dikenalID', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.dikenalID") {{ errors.dikenalID }}
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='koordinatorLap', placeholder='Koordinator lap', ng-model='koordinatorLap', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.koordinatorLap") {{ errors.koordinatorLap }}
				div(class='row' style='')
					div(class='md6')
						div(class='form-input')
							input(type='text', class='form-input', name='idKopLap', placeholder='ID Kor-Lap', ng-model='idKopLap', ng-model-options="{ debounce: 500 }")
						div(class="field-error", ng-show="errors.idKopLap") {{ errors.idKopLap }}

				div(class='row' style='margin-bottom:-8px; margin-top:55px;')
					label(for='nomorKTP' class='md12' style='padding-bottom:2px; margin-bottom:2px; font-size:16px; font-weight:bold; text-decoration:underline;') UPLOAD PHOTO
				div(class='row' style='')
						div(class='form-input')
							input(type="text",name="photo", class="form-input", ng-model="photo", ng-model-options="{ debounce: 500 }", style="display:none;")
							button(type="file" ngf-select="uploadFiles($file)" ng-model="picFile" accept="image/*" ngf-max-height="2000" name="file" ngf-max-size="2MB") Select File 
							img(ng-show="addDriverForm.file.$valid" ngf-thumbnail="!picFile.$error && picFile" class="thumb")
							br
							div(style="font:smaller") {{f.name}} {{f.$error}} {{f.$errorParam}}
								span(class="progress" ng-show="f.progress >= 0")
									div(style="width:{{f.progress}}%" ng-bind="f.progress + '%'")
							br
							span {{errorMsg}}

				br
				div(class='row' style='margin:45px 0')
					div(class='md12')
						input(type='submit', value='Add Driver', class='btn_sumit')