extends layout

block header

  h1 Dashboard
    div(class='subtitle') Welcome to Delihome Administration Page

block content

  div(class='widget-col-4')
    div(class='widget-box')
      div(class='widget-title') {{ deliveredOrderTodayCount.count }} order/s to be delivered today (
        a(ng-click="action('printTodayOrder', $index)") Print Invoice Now
        | ,
        a(ng-click="action('printTodayOrderText', $index)") Print Text Only
        | )

      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th User Name
              th Address
              th Total Price
              th Orders
            tr(ng-repeat='order in deliveredOrderTodayCount.lists')
              td
                a(ng-click="action('orderTodayDetail', $index)") {{ order.user.name }}
              td
                small {{ order.address }}
              td
                small {{ order.price | currency : 'Rp' : 0 }}
              td
                span(ng-repeat='menu in order.orders')
                  span(ng-if='$index < order.orders.length-1') {{ menu.menu.name }},&nbsp;
                  span(ng-if='$index == order.orders.length-1') {{ menu.menu.name }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ pickedMenuTodayCount.count }} Menu to be picked tomorrow ({{ pickedMenuTodayCount.day }}, {{ pickedMenuTodayCount.date }} {{ pickedMenuTodayCount.month }})
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th Hawker Name
              th Menu
              th Quantity
            tr(ng-repeat='order in pickedMenuTodayCount.lists')
              td
                a(ng-click="action('orderTomorrowDetail', $index)") {{ order.menu.hawker.name}}
              td
                small {{ order.menu.name }}
              td
                small {{ order.quantity }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ deliveredOrderTomorrowCount.count }} order/s to be delivered tomorrow (
        a(ng-click="action('printTomorrowOrder', $index)") Print Invoice Now
        | ,
        a(ng-click="action('printTomorrowOrderText', $index)") Print Text Only
        | )
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th User Name
              th Address
              th Total Price
              th Orders
            tr(ng-repeat='order in deliveredOrderTomorrowCount.lists')
              td
                a(ng-click="action('orderTomorrowDetail', $index)") {{ order.user.name }}
              td
                small {{ order.address }}
              td
                small {{ order.price | currency : 'Rp' : 0 }}
              td
                span(ng-repeat='menu in order.orders')
                  span(ng-if='$index < order.orders.length-1') {{ menu.menu.name }},&nbsp;
                  span(ng-if='$index == order.orders.length-1') {{ menu.menu.name }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ transactionCount.count }} new transaction/s today
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th User Name
              th Method
              th Status
              th Time
              th Orders
            tr(ng-repeat='transaction in transactionCount.lists')
              td
                a(ng-click="action('transactionDetail', $index)") {{ transaction.user.name }}
              td {{ transaction.payment | paymentMethod }}
              td {{ transaction.status | transactionStatus }}
              td {{ transaction.createdAt | date:'HH:mm:ss' }}
              td
                span(ng-repeat='order in transaction.orders')
                  span(ng-if='$index < transaction.orders.length-1') {{ order.menu.name }},
                  span(ng-if='$index == transaction.orders.length-1') {{ order.menu.name }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ userCount.count }} new user/s registered today
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th User Name
              th Verified
              th Time
            tr(ng-repeat='user in userCount.lists')
              td
                a(ng-click="action('userDetail', $index)") {{ user.name }}
              td {{ user.verified | yesNo }}
              td {{ user.createdAt | date:'HH:mm:ss' }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ hawkerCount.count  }} new hawker/s registered today
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th User Name
              th Admin Activation
              th Verified
              th Time
            tr(ng-repeat='hawker in hawkerCount.lists')
              td
                a(ng-click="action('hawkerDetail', $index)") {{ hawker.name }}
              td {{ hawker.verifiedByAdmin | yesNo }}
              td {{ hawker.verified | yesNo }}
              td {{ hawker.createdAt | date:'HH:mm:ss' }}

  div(class='widget-col-2')
    div(class='widget-box')
      div(class='widget-title') {{ menuCount.count }} new menu/s submitted today
      div(class='widget-content')
        div(class='widget-overflow')
          table(class='table-1')
            tr
              th Menu Name
              th Delivery Date
              th Time
            tr(ng-repeat='menu in menuCount.lists')
              td
                a(ng-click="action('menuDetail', $index)") {{ menu.name }}
              td {{ menu.openAt | date:'dd MMMM yyyy' }}
              td {{ menu.createdAt | date:'HH:mm:ss' }}