div(flash-message='5000')
div(class='left-side', left-side-absolute, watchHeight)
  div(class='company-name') Delihome
  div(class='left-menu-box', roles='admin', active='/dashboard')
    h4
      a(href='#/dashboard') Dashboard
  div(class='left-menu-box', roles='admin', active='/transaction')
    h4
      a(href='#/transactions') Transactions
    ul(class='left-menu')
      li
        a(href='#/transactions')
          | All Transaction ({{ unreadCount }})
  div(class='left-menu-box', roles='admin', active='/hawker')
    h4
      a(href='#/hawkers') Hawkers
    ul(class='left-menu')
      li
        a(href='#/hawker/add') Add New
      li
        a(href='#/hawkers') All Hawker
  div(class='left-menu-box', roles='admin', active='/user')
    h4
      a(href='#/users') Users
    ul(class='left-menu')
      li
        a(href='#/users') All User
  div(class='left-menu-box', roles='admin', active='/menu')
    h4
      a(href='#/menus') Menus
    ul(class='left-menu')
      li
        a(href='#/menu/add') Add New
      li
        a(href='#/menus') All Menu
  div(class='left-menu-box', roles='admin', active='/coupon')
    h4
      a(href='#/coupons') Coupons
    ul(class='left-menu')
      li
        a(href='#/coupon/add') Add New
      li
        a(href='#/coupons') All Coupon
  div(class='left-menu-box', roles='admin', active='/supplies')
    h4
      a(href='#/supplies') Supplies
    ul(class='left-menu')
      li
        a(href='#/supply/add') Add New
      li
        a(href='#/supplies') All Supplies
div(class='right-side')
  div(class='top-right') Hello {{ currentUser.name }}! 
    a(href='javascript:void(0);', ng-click='logout()') Logout
  div(class='top-bar')
    block header
  div(class='main-content')
    block content