div(flash-message='5000')
form#login-form(class='login-form', name='loginForm', middle-from-window, novalidate, ng-submit='loginForm.$valid && login()')
  h1 Login
  div(class='form-input')
    input(type='username', name='username', placeholder='Username', ng-model='username', required, ng-model-options="{ debounce: 500 }")
  div(class='form-input')
    input(type='password', name='password', placeholder='Password', ng-model='password', required)
  div(class='form-input')
    input(type='submit', value='Login', class='button')