div(class="login-container")
  div(class="login-box animated fadeInDown")
    div(class="login-logo")
    div(class="login-body")
      div(class="login-title")
        strong Welcome
        | , Please Login
      form(action="index.html", class="form-horizontal", method="post")
        div(class="form-group")
          div(class="col-md-12")
            input(type="text", class="form-control", placeholder="Username")
        div(class="form-group")
          div(class="col-md-12")
            input(type="password", class="form-control", placeholder="Password")
        div(class="form-group")
          div(class="col-md-6")
            a(href="#", class="btn btn-link btn-block") Forgot Your Password?
          div(class="col-md-6")
            button(class="btn btn-info btn-block") Login In
    div(class="login-footer")
      div(class="pull-left") &copy; 2014 JoliAdminProject
      div(class="pull-right")
        a(href="#") About
        | |
        a(href="#") Privacy
        | |
        a(href="#") Contact Us