extends ../layout

block header

  h1(ng-if='!updateMenuName')
    a(href='menus') Menu
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateMenuName')
    a(href='menus') Menu
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateMenuName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    table(class='form-table')
      tr(ng-if="!updateMenuName || menu.parent == ''")
        th Type
        td
          select(name='type', ng-model='menu.type', ng-change="menu.parent = ''", required, server-error)
            option(value='') - Please Select -
            option(value='speed') Speed
            option(value='preorder') Preorder
          div(class="field-error", ng-messages="form.type.$error", ng-if="form.type.$touched")
            p(ng-message="required") Please fill Type
            p(ng-message="server") {{ serverErrors.type }}
      tr(ng-if="parents && menu.type == 'preorder' && !updateMenuName")
        th Menu Lama
        td
          select(name='parent', ng-model='menu.parent', ng-change='parentChange()' server-error)
            option(value='') - Please Select -
            option(ng-repeat='parent in parents', ng-value='parent._id', ng-selected="parent._id == menu.parent") {{ parent.name }}
          div(class="field-error", ng-messages="form.parent.$error", ng-if="form.parent.$touched")
            p(ng-message="server") {{ serverErrors.parent }}
      tr(ng-if="hawkers && !menu.parent")
        th
          span(class='field-req') *
          | Hawker
        td
          select(name='hawker', ng-model='menu.hawker', required, server-error)
            option(value='') - Please Select -
            option(ng-repeat='hawker in hawkers', ng-value='hawker._id', ng-selected="hawker._id == menu.hawker") {{ hawker.name }}
          div(class="field-error", ng-messages="form.hawker.$error", ng-if="form.hawker.$touched")
            p(ng-message="required") Please select hawker
            p(ng-message="server") {{ serverErrors.hawker }}
      tr(ng-if="!menu.parent")
        th
          span(class='field-req') *
          | Name
        td
          input(type='text', name='name', ng-model='menu.name', required, server-error)
          div(class="field-error", ng-messages="form.name.$error", ng-if="form.name.$touched")
            p(ng-message="required") Please fill Name
            p(ng-message="server") {{ serverErrors.name }}
      tr(ng-if="!menu.parent")
        th
          span(class='field-req') *
          | Price
        td
          input(type='text', name='price', ng-model='menu.price', required, server-error)
          div(class="field-error", ng-messages="form.price.$error", ng-if="form.price.$touched")
            p(ng-message="required") Please fill Price
            p(ng-message="server") {{ serverErrors.price }}
      tr(ng-if="menu.type == 'speed'")
        th Waiting Time
        td
          input(type='number', name='waitingTime', ng-model='menu.speed.waitingTime', ng-required="type == 'speed'", server-error)
          div(class="field-error", ng-messages="form.waitingTime.$error", ng-if="form.waitingTime.$touched")
            p(ng-message="required") Please fill Waiting Time
            p(ng-message="server") {{ serverErrors.waitingTime }}
      tr(ng-if="menu.type == 'speed'")
        th Options
        td
          label
            input(type='checkbox', name='option[1]', ng-model='menu.speed.option[1]', ng-true-value="1", ng-false-value="''")
            | 11:00 - 01:00
          br
          label
            input(type='checkbox', name='option[2]', ng-model='menu.speed.option[2]', ng-true-value="2", ng-false-value="''")
            | 17:00 - 19:00
          div(class="field-error", ng-messages="form.option.$error", ng-if="form.option.$touched")
            p(ng-message="server") {{ serverErrors.option }}

      tr(ng-if="!menu.parent")
        th Description
        td
          textarea(name='description', ng-model='menu.description', server-error, style='width:500px;height:200px')
          div(class="field-error", ng-messages="form.description.$error", ng-if="form.description.$touched")
            p(ng-message="server") {{ serverErrors.description }}

      tr(ng-if="!menu.parent")
        th Porsi
        td
          input(type='text', name='porsi', ng-model='menu.porsi', server-error, placeholder='1-2')
          div(class="field-error", ng-messages="form.porsi.$error", ng-if="form.porsi.$touched")
            p(ng-message="server") {{ serverErrors.porsi }}

      tr(ng-if="!menu.parent")
        th Minimum Order
        td
          input(type='number', name='minimumOrder', ng-model='menu.minimumOrder', server-error)
          div(class="field-error", ng-messages="form.minimumOrder.$error", ng-if="form.minimumOrder.$touched")
            p(ng-message="server") {{ serverErrors.minimumOrder }}
      tr(ng-if="menu.type == 'preorder'")
        th Delivery At
        td
          input(type='text', name='openAt', ng-model='menu.openAt', required, server-error, placeholder='yyyy-mm-dd',ymd-input)
          div(class="field-error", ng-messages="form.openAt.$error", ng-if="form.openAt.$touched")
            p(ng-message="server") {{ serverErrors.openAt }}
      tr(ng-if="menu.type == 'speed'")
        th Days Available
        td
          label
            input(type='checkbox', name='daysAvailable[1]', ng-model='menu.daysAvailable[1]', ng-true-value="1", ng-false-value="''")
            | Senin
          br
          label
            input(type='checkbox', name='daysAvailable[2]', ng-model='menu.daysAvailable[2]', ng-true-value="2", ng-false-value="''")
            | Selasa
          br
          label
            input(type='checkbox', name='daysAvailable[3]', ng-model='menu.daysAvailable[3]', ng-true-value="3", ng-false-value="''")
            | Rabu
          br
          label
            input(type='checkbox', name='daysAvailable[4]', ng-model='menu.daysAvailable[4]', ng-true-value="4", ng-false-value="''")
            | Kamis
          br
          label
            input(type='checkbox', name='daysAvailable[5]', ng-model='menu.daysAvailable[5]', ng-true-value="5", ng-false-value="''")
            | Jum'at
          br
          label
            input(type='checkbox', name='daysAvailable[6]', ng-model='menu.daysAvailable[6]', ng-true-value="6", ng-false-value="''")
            | Sabtu
          br
          label
            input(type='checkbox', name='daysAvailable[7]', ng-model='menu.daysAvailable[7]', ng-true-value="7", ng-false-value="''")
            | Minggu
          div(class="field-error", ng-messages="form.daysAvailable.$error", ng-if="form.daysAvailable.$touched")
            p(ng-message="server") {{ serverErrors.daysAvailable }}
      tr(ng-if='updateMenuName && !menu.parent')
        th Image
        td
          img(ng-src="{{ menu.imageUrls[0] }}", ng-if="menu.images[0]")
          span(ng-if="!menu.images[0]") N/A
          a(ng-click="changePhoto()", class='button button-small', style='margin-left:15px') Change
          a(ng-click="deletePhoto()", class='button button-small', ng-if='menu.images[0]') Delete
      tr(ng-if="!menu.parent")
        th Category
        td
          input(type='text', name='category', ng-model='menu.category', server-error)
          div(class="field-error", ng-messages="form.category.$error", ng-if="form.category.$touched")
            p(ng-message="server") {{ serverErrors.category }}
      tr
        th Event :
        td
          label
            input(type='checkbox', name='isEvent', ng-model='menu.isEvent')
      tr(ng-if="menu.isEvent")
        th
        td
          input(type='text', name='eventName', ng-model='menu.eventName', placeholder='Event Name')
      tr(ng-if="menu.isEvent")
        th
        td
          textarea(type='text', name='eventMessage', ng-model='menu.eventMessage', placeholder='Event Message')
    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')