extends ../layout

block header

  h1 Menus
    div(class='subtitle') {{ total }} menu/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='prettyId') ID:
        input(type='text', ng-model='filterData.prettyId', name='prettyId', class='filter-text-small')
      li
        label(for='name') Name:
        input(type='text', ng-model='filterData.name', name='name', class='filter-text-medium')
      li
        label(for='type') Type:
        select(ng-model='filterData.type', name='type')
          option(value='') Any Type
          option(value='preorder') Preorder
          option(value='speed') Speed
      li
        label(for='price') Price:
        input(type='text', ng-model='filterData.price', name='price', class='filter-text-small')
      li(ng-if="filterData.type == 'preorder'")
        label(for='openAt') Delivery at:
        input(type='text', ng-model='filterData.openAt', name='openAt', class='filter-text-small')
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('prettyId')")
        span(ng-class="[{'sort-active':(sort == 'prettyId')}, 'sort-'+sortOrder]") ID
      th
        span Menu Lama
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('type')")
        span(ng-class="[{'sort-active':(sort == 'type')}, 'sort-'+sortOrder]") Type
      th(ng-click="changeSort('price')")
        span(ng-class="[{'sort-active':(sort == 'price')}, 'sort-'+sortOrder]") Price
      th(ng-click="changeSort('hawker')")
        span(ng-class="[{'sort-active':(sort == 'hawker')}, 'sort-'+sortOrder]") Hawker
      th(ng-click="changeSort('openAt')")
        span(ng-class="[{'sort-active':(sort == 'openAt')}, 'sort-'+sortOrder]") Delivery At
      th(ng-click="changeSort('createdAt')")
        span(ng-class="[{'sort-active':(sort == 'createdAt')}, 'sort-'+sortOrder]") Created At
      th

    tr(ng-repeat='menu in menus')
      td {{ menu.prettyId }}
      td {{ menu.parent.prettyId || '-'}}
      td {{ menu.name }}
      td {{ menu.type | transactionType }}
      td {{ menu.price | currency : 'Rp' : 0 }}
      td {{ menu.hawker.name }}
      td {{ menu.openAt | date:'dd MMMM yyyy' }}
      td {{ menu.createdAt | date:'dd MMMM yyyy HH:mm:ss' }}
      td(class='action-column')
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete
  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )