extends ../layout

block header

  h1
    a(href='users') User
    | &nbsp;
    span >
    | &nbsp;Detail: {{ user.name }}
    div(class='subtitle') Showing user info

block content

  v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')

    v-pane(expanded="true")
      v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Basic Info
      v-pane-content(id="pane-0-content")
        table(class='info-table')
          tr
            th ID
            td {{ user.prettyId }}
          tr
            th Name
            td {{ user.name }}
          tr
            th HP
            td {{ user.phoneNumber }}
          tr
            th Email
            td {{ user.email || '-' }}
          tr
            th Gender
            td {{ user.gender | gender }}
          tr
            th YOB
            td {{ user.yob }}
          tr
            th Created At
            td {{ user.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-1-header" aria-controls="pane-1-content") Verification
      v-pane-content(id="pane-1-content")
        table(class='info-table')
          tr
            th Verified
            td {{ user.verified | yesNo }}
          tr
            th Trusted
            td {{ user.trusted | yesNo }}
            th(class='action-column', ng-if="user.trusted == true")
              a(ng-click="verify()", class='button button-small') Untrusted
            th(class='action-column', ng-if="user.trusted == false")
              a(ng-click="verify()", class='button button-small') Trusted
          tr(ng-if="user.verified == false")
            th Verification Code
            td {{ user.verificationCode }}