extends ../layout

block header

  h1 User
    div(class='subtitle') {{ total }} user/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='prettyId') ID:
        input(type='text', ng-model='filterData.prettyId', name='prettyId')
      li
        label(for='name') Name:
        input(type='text', ng-model='filterData.name', name='name')
      li
        label(for='phoneNumber') HP:
        input(type='text', ng-model='filterData.phoneNumber', name='phoneNumber')
      li
        label(for='verified') Verified:
        select(ng-model='filterData.verified', name='verified')
          option(value='') Any
          option(value='true') Yes
          option(value='false') No
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('prettyId')")
        span(ng-class="[{'sort-active':(sort == 'prettyId')}, 'sort-'+sortOrder]") ID
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('email')")
        span(ng-class="[{'sort-active':(sort == 'email')}, 'sort-'+sortOrder]") Email
      th(ng-click="changeSort('phoneNumber')")
        span(ng-class="[{'sort-active':(sort == 'phoneNumber')}, 'sort-'+sortOrder]") HP
      th(ng-click="changeSort('createdAt')")
        span(ng-class="[{'sort-active':(sort == 'createdAt')}, 'sort-'+sortOrder]") Registration Date
      th(ng-click="changeSort('verified')")
        span(ng-class="[{'sort-active':(sort == 'verified')}, 'sort-'+sortOrder]") Verified
      th(ng-click="changeSort('trusted')")
        span(ng-class="[{'sort-active':(sort == 'trusted')}, 'sort-'+sortOrder]") Trusted
      th
    tr(ng-repeat='user in users')
      td {{ user.prettyId }}
      td {{ user.name }}
      td {{ user.email || '-' }}
      td {{ user.phoneNumber | phoneNumber }}
      td {{ user.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}
      td {{ user.verified | yesNo }}
      td {{ user.trusted | yesNo }}
      td(class='action-column')
        a(ng-click="action('detail', $index)", class='button button-small') Detail

  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )