extends ../layout

block header

  h1 Messages
    div(class='subtitle') {{ total }} message/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='event') Name:
        input(type='text', ng-model='filterData.name', name='name')
      li
        label(for='message') HP:
        input(type='text', ng-model='filterData.phoneNumber', name='phoneNumber')
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('event')")
        span(ng-class="[{'sort-active':(sort == 'event')}, 'sort-'+sortOrder]") Event Name
      th(ng-click="changeSort('phoneNumber')")
        span(ng-class="[{'sort-active':(sort == 'phoneNumber')}, 'sort-'+sortOrder]") Event Message
      th(ng-click="changeSort('createdAt')")
        span(ng-class="[{'sort-active':(sort == 'createdAt')}, 'sort-'+sortOrder]") Registration Date
      th
        span Action
    tr(ng-repeat='message in messages')
      td {{ message.event }}
      td {{ message.message }}
      td {{ message.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}
      td(class='action-column')
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete

  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )