extends ../layout

block header

  h1
    a(href='#/transactions') Transactions
    | &nbsp;
    span >
    | &nbsp;Detail: {{ transaction.prettyId }}
    div(class='subtitle') Showing transaction info

block content

  v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')

    v-pane(expanded="true")
      v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Transaction
      v-pane-content(id="pane-0-content")
        table(class='info-table')
          tr
            th ID
            td {{ transaction.prettyId }}
          tr
            th Type
            td {{ transaction.type | transactionType }}
          tr
            th Status
            td {{ transaction.status | transactionStatus }}
          tr
            th User
            td {{ transaction.user.name }} ({{ transaction.user.phoneNumber | phoneNumber }})
          tr
            th Hawker
            td {{ transaction.hawker.name }}
              div(ng-if='transaction.hawker.address')
                small {{ transaction.hawker.address }}
          tr
            th Price
            td {{ transaction.price | currency : 'Rp' : 0 }}
          tr
            th Address
            td {{ transaction.address }}
          tr
            th Note
            td {{ transaction.note || 'n/a' }}
          tr
            th Created At
            td {{ transaction.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}
          tr
            th Payment Method
            td {{ transaction.payment | paymentMethod }}
          tr(ng-if='transaction.priceReturned == false')
            th Refunded
            td {{ transaction.priceReturned | yesNo }}

    v-pane(expanded="true")
      v-pane-header(id="pane-1-header" aria-controls="pane-1-content") Orders
      v-pane-content(id="pane-1-content")
        table(class='table-1')
          tr
            th ID
            th Name
            th Delivery At
            th Price
            th Quantity
            th Subtotal
            th Status

          tr(ng-repeat='order in transaction.orders')
            td {{ order.menu.prettyId }}
            td {{ order.menu.name }}
            td {{ order.menu.openAt | date:'dd MMMM yyyy' }}
            td {{ order.menu.price | currency : 'Rp' : 0 }}
            td {{ order.quantity }}
            td {{ order.quantity * order.menu.price | currency : 'Rp' : 0 }}
            td {{ order.status | orderStatus }}

    v-pane(expanded="true")
      v-pane-header(id="pane-2-header" aria-controls="pane-2-content") Detailed Price
      v-pane-content(id="pane-2-content")
        table(class='info-table')
          tr
            th Base
            td {{ transaction.detailedPrice.base | currency : 'Rp' : 0 }}
          tr(ng-if="transaction.payment == 'transfer'")
            th Convenience
            td {{ transaction.detailedPrice.convenientFee | currency : 'Rp' : 0 }}
          tr
            th Shipping
            td {{ transaction.detailedPrice.shipping | currency : 'Rp' : 0 }}
          tr
            th Tip
            td {{ transaction.detailedPrice.tip | currency : 'Rp' : 0 }}
          tr
            th Discount
            td {{ transaction.detailedPrice.discount * -1 | currency : 'Rp' : 0 }}
          tr(ng-if='transaction.detailedPrice.return')
            th Refund
            td {{ transaction.detailedPrice.return | currency : 'Rp' : 0 }}
