extends ../layout

block header

  h1 Transactions
    div(class='subtitle') {{ total }} transaction/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label User :
        ui-select(ng-model="filterData.user", reset-search-input="false")
            ui-select-match
                span(ng-bind="$select.selected.name")
            ui-select-choices(repeat="user in (filterUsers | filter: $select.search) track by user._id", refresh="refreshFilterUsers($select.search)", refresh-delay="50")
                span(ng-bind="user.name")

      li
        label Hawker :
        ui-select(ng-model="filterData.hawker", reset-search-input="false")
          ui-select-match
            span(ng-bind="$select.selected.name")
          ui-select-choices(repeat="hawker in (filterHawkers | filter: $select.search) track by hawker._id", refresh="refreshFilterHawkers($select.search)", refresh-delay="50")
            span(ng-bind="hawker.name")

      li(ng-if="!filterData.openAt || filterData.openAt == ''")
        label Menu :
        ui-select(ng-model="filterData.menu", reset-search-input="false")
          ui-select-match
            span(ng-bind="$select.selected.name")
          ui-select-choices(repeat="menu in (filterMenus | filter: $select.search) track by menu._id", refresh="refreshFilterMenus($select.search)", refresh-delay="50")
            span(ng-bind="menu.name")

      li(ng-if="!filterData.menu || filterData.menu == ''")
        label(for='openAt') Delivery At :
          ng-datepicker(name='openAt', ng-model='filterData.openAt', locale='id', format="DD/MM/YYYY")

      li
        label(for='address') Address:
        input(type='text', ng-model='filterData.address', name='address', class='filter-text-long')
      li
        label(for='status') Status:
        select(ng-model='filterData.status', name='status')
          option(value='') Any Status
          option(value='waitingPayment') Waiting Payment
          option(value='verifyingPayment') Verifying Payment
          option(value='processing') Processing
          option(value='canceled') Canceled
          option(value='shipping') Shipping
          option(value='success') Success
      li
        label(class='filter-check-radio')
          input(type='checkbox', ng-model='filterData.unread', name='unread', ng-true-value='1', ng-false-value='0', ng-checked='filterData.unread == 1')
          | Unread
      li
        label(class='filter-check-radio')
          input(type='checkbox', ng-model='filterData.refundNeeded', name='refundNeeded', ng-true-value='1', ng-false-value='0', ng-checked='filterData.refundNeeded == 1')
          | Refund Needed
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr(ng-repeat='transaction in transactions', ng-class="{ unread: transaction.readBy && transaction.readBy.indexOf(currentUser._id) == -1 }")

      td(width='20%')  {{ transaction.user.name }}
        br
        small ({{ transaction.user.phoneNumber }})
        br
        br
        span(ng-repeat='order in transaction.orders')
          | {{ order.menu.name }}
          br
        br
        | Discount :
        br
        | Shipping :
        br
        br
        | Total :
        br
        br
        | {{ transaction.hawker.name }}
        br
        small ({{ transaction.hawker.phoneNumber }})
      td(width='5%')
        br
        br
        br
        span(ng-repeat='order in transaction.orders')
          | x{{ order.quantity }}
          br

      td(width='7%')
        br
        br
        br
        span(ng-repeat='order in transaction.orders')
          | {{ order.menu.price | currency : 'Rp' : 0 }}
          br
      td(width='10%')
        br
        br
        br
        span(ng-repeat='order in transaction.orders')
          | {{ order.quantity * order.menu.price | currency : 'Rp' : 0 }}
          br
        br
        | {{ transaction.detailedPrice.discount | currency : 'Rp' : 0 }}
        br
        | {{ transaction.detailedPrice.shipping | currency : 'Rp' : 0 }}
        br
        br
        | {{ transaction.price | currency : 'Rp' : 0 }}
        br
        br
        | {{ transaction.status }}
        br
        | {{ transaction.payment }}
      td ({{ transaction.createdAt | date:'dd MMMM yyyy'  }})
        br
        br
        br
        span(ng-repeat='order in transaction.orders')
          | {{ order.menu.openAt | date:'dd MMMM yyyy'  }}
          br
        br
        br
        br
        br
        br
        br
        | {{ transaction.address }}
        br
        | {{ transaction.note }}
      td(width='5%' class='action-column')
        br
        br
        a(ng-if="transaction.priceReturned == false", ng-click="action('return', $index)", class='button button-large') Refund
        br
        a(ng-click="action('detail', $index)", class='button button-large') Detail
        br
        a(ng-if="transaction.status == 'verifyingPayment'", ng-click="action('edit', $index)", class='button button-large') Process
        br
        a(ng-if="transaction.status != 'canceled'", ng-click="action('delete', $index)", class='button button-large') Cancel

  paging(
  page='page',
  page-size='pageSize',
  total='total',
  adjacent='3',
  dots='...',
  scroll-top='false',
  hide-if-empty='true',
  ul-class='pagination',
  active-class='active',
  disabled-class='disabled',
  show-prev-next='true',
  paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )