div(class="modal fade", custom-modal)
  div(class="modal-dialog", middle-from-window)
    button(type="button", class="close modal-close", ng-click="close()", data-dismiss="modal", aria-hidden="true") &times;
    div(class="modal-content")
      div(class="modal-header") Return Payment of Transaction {{ transaction.prettyId }}
      div(class="modal-body") Are you sure you want to return payment "{{ transaction.prettyId }}" ?
      div(class="modal-footer")
        a(ng-click='confirm()', class='button button-medium') Confirm
        a(ng-click='close()', class='button button-medium button-secondary') Cancel