block header

  h1(style='text-align:center') Today's Delivery Invoice

block content

  div(class='widget-col-4' ng-repeat='order in deliveredOrderTodayCount.lists')
    div(class='widget-box')
      div(class='widget-title')
        div(style='float:right')
          div(style='font-size: 20px') {{ deliveredOrderTodayCount.today | date:'dd MMMM yyyy'}}
          div(style='margin-top: 10px')
            u(ng-if="order.payment == 'cod'") COD
            u(ng-if="order.payment == 'transfer'") Bank Transfer
        div
          div(style='font-size: 20px') {{ order.user.name }}
          div(style='font-weight: normal;margin: 5px 0') {{ order.user.phoneNumber }}
          small {{ order.address }}
      div(class='widget-content' )
        table(class='table-1' )
          tr
            th(width='40%') Menu
            th(width='20%') Quantity
            th(width='20%') @Price
            th(width='20%') Total Price
        table(class='table-1' )
          tr(ng-repeat='menu in order.orders')
            td(width='40%') {{ menu.menu.name }}
            td(width='20%') {{ menu.quantity }}
            td(width='20%') {{ menu.menu.price | currency : 'Rp' : 0 }}
            td(width='20%') {{ menu.menu.price * menu.quantity | currency : 'Rp' : 0 }}
          tr
            td
              small Discount
            td &nbsp;
            td &nbsp;
            td {{order.detailedPrice.discount | currency : 'Rp' : 0 }}
          tr
            td
              small Shipping
            td &nbsp;
            td &nbsp;
            td {{ order.detailedPrice.shipping | currency : 'Rp' : 0  }}
          tr
            td
              small Tip
            td &nbsp;
            td &nbsp;
            td {{order.detailedPrice.tip | currency : 'Rp' : 0 }}
          tr
            td
              small Total
            td &nbsp;
            td &nbsp;
            td {{ order.price - order.detailedPrice.convenientFee | currency : 'Rp' : 0  }}
          tr
            td
              small Note
            td(colspan=3) {{ order.note }}