span Format : name - phoneNumber, Address, [menuQuantity menuName], note, paymentMethod, totalPrice
br
br
span(ng-repeat='order in deliveredOrderTodayCount.lists')
    | {{ order.user.name }} - {{ order.user.phoneNumber }}, {{ order.address }}, [
    span(ng-repeat='menu in order.orders')
        span(ng-if='$index < order.orders.length-1')
            | {{ menu.quantity }} {{ menu.menu.name }}&nbsp;,
        span(ng-if='$index == order.orders.length-1')
            | {{ menu.quantity }} {{ menu.menu.name }}
    | ] {{ order.note }},
    span(ng-if="order.payment == 'cod'") COD
    span(ng-if="order.payment == 'transfer'") Transfer
    |, {{ order.price - order.detailedPrice.convenientFee | currency : 'Rp' : 0  }}
    br