extends ../layout

block header

  h1
    a(href='hawkers') Hawker
    | &nbsp;
    span >
    | &nbsp;Detail: {{ hawker.name }}
    div(class='subtitle') Showing hawker info

block content

  v-accordion(class="vAccordion--default", multiple, aria-multiselectable='true')

    v-pane(expanded="true")
      v-pane-header(id="pane-0-header" aria-controls="pane-0-content") Basic Info
      v-pane-content(id="pane-0-content")
        table(class='info-table')
          tr
            th ID
            td {{ hawker.prettyId }}
          tr
            th Name
            td {{ hawker.name }}
          tr
            th HP
            td {{ hawker.phoneNumber }}
          tr
            th Created At
            td {{ hawker.createdAt | date:'dd MMMM yyyy, HH:mm:ss' }}

    v-pane(expanded="true")
      v-pane-header(id="pane-1-header" aria-controls="pane-1-content") Verification
      v-pane-content(id="pane-1-content")
        table(class='info-table')
          tr
            th Verified by Admin
            td {{ hawker.verifiedByAdmin | yesNo }}
          tr
            th Verified
            td {{ hawker.verified | yesNo }}
          tr
            th Trusted
            td {{ hawker.trusted | yesNo }}
          tr(ng-if="hawker.verified == false")
            th Verification Code
            td {{ hawker.verificationCode }}