extends ../layout

block header

  h1(ng-if='!updateHawkerName')
    a(href='hawkers') Hawker
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateHawkerName')
    a(href='hawkers') Hawker
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateHawkerName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    table(class='form-table')
      tr
        th
          span(class='field-req') *
          | Name
        td
          input(type='text', name='name', ng-model='hawker.name', required, server-error)
          div(class="field-error", ng-messages="form.name.$error", ng-if="form.name.$touched")
            p(ng-message="required") Please fill Name
            p(ng-message="server") {{ serverErrors.name }}
      tr
        th Phone Number
        td
          input(type='text', name='phoneNumber', ng-model='hawker.phoneNumber', required, server-error, ng-if='!updateHawkerName')
          input(type='text', name='phoneNumber', ng-model='hawker.phoneNumber', server-error, ng-if='updateHawkerName')
          div(class="field-error", ng-messages="form.phoneNumber.$error", ng-if="form.phoneNumber.$touched")
            p(ng-message="required") Please fill Phone Number
            p(ng-message="server") {{ serverErrors.phoneNumber }}
      tr
        th Address
        td
          input(type='text', name='address', ng-model='hawker.address', server-error)
          div(class="field-error", ng-messages="form.address.$error", ng-if="form.address.$touched")
            p(ng-message="server") {{ serverErrors.address }}
      tr
        th(ng-if='updateHawkerName') Change Password
        th(ng-if='!updateHawkerName') Password
        td
          input(type='password', name='password', ng-if='updateHawkerName', ng-model='hawker.password')
          input(type='password', name='password', ng-if='!updateHawkerName', required, ng-model='hawker.password')
          div(class="field-error", ng-messages="form.password.$error", ng-if="form.password.$touched")
            p(ng-message="required") Please fill Password
    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')