extends ../layout

block header

  h1 Hawkers
    div(class='subtitle') {{ total }} hawker/s found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='prettyId') ID:
        input(type='text', ng-model='filterData.prettyId', name='prettyId', class='filter-text-small')
      li
        label(for='name') Name:
        input(type='text', ng-model='filterData.name', name='name', class='filter-text-medium')
      li
        label(for='phoneNumber') HP:
        input(type='text', ng-model='filterData.phoneNumber', name='phoneNumber', class='filter-text-medium')
      li
        label(for='verifiedByAdmin') Admin Activation:
        select(ng-model='filterData.verifiedByAdmin', name='verifiedByAdmin')
          option(value='') Any
          option(value='true') Yes
          option(value='false') No
      li
        label(for='verified') Verified:
        select(ng-model='filterData.verified', name='verified')
          option(value='') Any
          option(value='true') Yes
          option(value='false') No
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('prettyId')")
        span(ng-class="[{'sort-active':(sort == 'prettyId')}, 'sort-'+sortOrder]") ID
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('phoneNumber')")
        span(ng-class="[{'sort-active':(sort == 'phoneNumber')}, 'sort-'+sortOrder]") HP
      th(ng-click="changeSort('verifiedByAdmin')")
        span(ng-class="[{'sort-active':(sort == 'verifiedByAdmin')}, 'sort-'+sortOrder]") Admin Activation
      th(ng-click="changeSort('verified')")
        span(ng-class="[{'sort-active':(sort == 'verified')}, 'sort-'+sortOrder]") Verified
      th
    tr(ng-repeat='hawker in hawkers')
      td {{ hawker.prettyId }}
      td {{ hawker.name }}
      td {{ hawker.phoneNumber | phoneNumber }}
      td {{ hawker.verifiedByAdmin | yesNo }}
      td {{ hawker.verified | yesNo }}
      td(class='action-column')
        a(ng-if="hawker.verifiedByAdmin == false",ng-click="action('verify', $index)", class='button button-small') Verify
        a(ng-click="action('detail', $index)", class='button button-small') Detail
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete
  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )