div(class="modal fade", custom-modal)
  div(class="modal-dialog", middle-from-window)
    button(type="button", class="close modal-close", ng-click="close()", data-dismiss="modal", aria-hidden="true") &times;
    div(class="modal-content")
      div(class="modal-header") Verify hawker {{ hawker.name }}
      div(class="modal-body") Are you sure you want to Verify {{ hawker.name }}
      div(class="modal-footer")
        a(ng-click='verify()', class='button button-medium') Verify
        a(ng-click='close()', class='button button-medium button-secondary') Cancel