extends ../layout

block header

  h1(ng-if='!updateFaq')
    a(href='#/faq') Faq
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateFaq')
    a(href='#/faq') Faq
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateFaqName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    table(class='form-table')
      tr
        th
          span(class='field-req') *
          | Title
        td
          input(type='text', name='title', ng-model='faq.title', required, server-error, placeholder='eg. My Awesome Title')
          div(class="field-error", ng-messages="form.title.$error", ng-if="form.title.$touched")
            p(ng-message="required") Please fill title
            p(ng-message="server") {{ serverErrors.title }}
      tr
        th
          span(class='field-req') *
          | Question
        td
          textarea(type='text', name='question', ng-model='faq.question', required, server-error, placeholder='eg. My Awesome Question')
          div(class="field-error", ng-messages="form.question.$error", ng-if="form.question.$touched")
            p(ng-message="required") Please fill question
            p(ng-message="server") {{ serverErrors.question }}
      tr
        th
          span(class='field-req') *
          | Answer
        td
          textarea(type='text', name='answer', ng-model='faq.answer', required, server-error, placeholder='eg. My Awesome Answer')
          div(class="field-error", ng-messages="form.answer.$error", ng-if="form.answer.$touched")
            p(ng-message="required") Please fill answer
            p(ng-message="server") {{ serverErrors.answer }}

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
            td
              input(type='submit', value='Save', class='button')