extends ../layout

block header

  h1 Faq
    div(class='subtitle') Faq Section

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='Title') Title:
        input(type='text', ng-model='filterData.title', name='title')
      li
        label(for='Question') Question:
        input(type='text', ng-model='filterData.question', name='question')
      li
        label(for='Answer') Answer:
        input(type='text', ng-model='filterData.answer', name='answer')
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('title')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Title
      th(ng-click="changeSort('question')")
        span(ng-class="[{'sort-active':(sort == 'type')}, 'sort-'+sortOrder]") Question
      th(ng-click="changeSort('answer')")
        span(ng-class="[{'sort-active':(sort == 'code')}, 'sort-'+sortOrder]") Answer
      th
        span Action
    tr(ng-repeat='faq in faqs')
      td {{ faq.title }}
      td {{ faq.question }}
      td {{ faq.answer }}
      td(class='action-column')
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete

    paging(
      page='page',
      page-size='pageSize',
      total='total',
      adjacent='3',
      dots='...',
      scroll-top='false',
      hide-if-empty='true',
      ul-class='pagination',
      active-class='active',
      disabled-class='disabled',
      show-prev-next='true',
      paging-action="changePage('Paging Clicked', page, pageSize, total)"
    )