extends ../layout

block header

  h1(ng-if='!updateSupplyName')
    a(href='supplies') Supply
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateSupplyName')
    a(href='supplies') Supply
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateSupplyName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    table(class='form-table')

      tr
        th
          span(class='field-req') *
          | Name
        td
          input(type='text', name='name', ng-model='supply.name', required, server-error)
          div(class="field-error", ng-messages="form.name.$error", ng-if="form.name.$touched")
            p(ng-message="required") Please fill Name
            p(ng-message="server") {{ serverErrors.name }}

      tr
        th
          span(class='field-req') *
          | Stock
        td
          input(type='number', min="0", name='stock', ng-model='supply.stock', required, server-error)
          div(class="field-error", ng-messages="form.stock.$error", ng-if="form.price.$touched")
            p(ng-message="required") Please fill Stock
            p(ng-message="server") {{ serverErrors.Stock }}

      tr
        th
          span(class='field-req') *
          | Price
        td
          input(type='number', min="0", name='price', ng-model='supply.price', required, server-error)
          div(class="field-error", ng-messages="form.price.$error", ng-if="form.price.$touched")
            p(ng-message="required") Please fill Price
            p(ng-message="server") {{ serverErrors.price }}

      tr
        th Discount
        td
          input(type='number', min="0", max="100", name='discount', ng-model='supply.discount', server-error)
          div(class="field-error", ng-messages="form.discount.$error", ng-if="form.discount.$touched")
            p(ng-message="server") {{ serverErrors.discount }}

      tr
        th Description
        td
          textarea(name='description', ng-model='supply.description', server-error, style='width:500px;height:200px')
          div(class="field-error", ng-messages="form.description.$error", ng-if="form.description.$touched")
            p(ng-message="server") {{ serverErrors.description }}

      tr(ng-if='updateSupplyName')
        th Image
        td
          img(ng-src="{{ supply.imageUrls[0] }}", ng-if="supply.images[0]")
          span(ng-if="!supply.images[0]") N/A
          a(ng-click="changePhoto()", class='button button-small', style='margin-left:15px') Change
          a(ng-click="deletePhoto()", class='button button-small', ng-if='supply.images[0]') Delete

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
          td
            input(type='submit', value='Save', class='button')