extends ../layout

block header

  h1 Supplies
    div(class='subtitle') {{ total }} supply/ies found. Page {{ page }} of {{ totalPage }}.

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='prettyId') ID:
        input(type='text', ng-model='filterData.prettyId', name='prettyId', class='filter-text-small')
      li
        label(for='name') Name:
        input(type='text', ng-model='filterData.name', name='name', class='filter-text-medium')
      li
        label(for='price') Price:
        input(type='text', ng-model='filterData.price', name='price', class='filter-text-small')
      li
        label(for='discount') Discount:
        input(type='text', ng-model='filterData.discount', name='discount', class='filter-text-small')
      li
        label(for='stock') Stock:
        input(type='text', ng-model='filterData.stock', name='stock', class='filter-text-small')
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('prettyId')")
        span(ng-class="[{'sort-active':(sort == 'prettyId')}, 'sort-'+sortOrder]") ID
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('price')")
        span(ng-class="[{'sort-active':(sort == 'price')}, 'sort-'+sortOrder]") Price
      th(ng-click="changeSort('discount')")
        span(ng-class="[{'sort-active':(sort == 'discount')}, 'sort-'+sortOrder]") Discount
      th(ng-click="changeSort('stock')")
        span(ng-class="[{'sort-active':(sort == 'stock')}, 'sort-'+sortOrder]") Stock
      th(ng-click="changeSort('createdAt')")
        span(ng-class="[{'sort-active':(sort == 'createdAt')}, 'sort-'+sortOrder]") Created At
      th

    tr(ng-repeat='supply in supplies')
      td {{ supply.prettyId }}
      td {{ supply.name }}
      td {{ supply.price | currency : 'Rp' : 0 }}
      td {{ supply.discount }}
      td {{ supply.stock }}
      td {{ supply.createdAt | date:'dd MMMM yyyy HH:mm:ss' }}
      td(class='action-column')
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete
  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )