extends ../layout

block header

  h1(ng-if='!updateCouponName')
    a(href='#/coupon') Coupon
    | &nbsp;
    span >
    | &nbsp;Add New
    div(class='subtitle') Please correctly fill the form below.

  h1(ng-if='updateCouponName')
    a(href='#/coupon') Coupon
    | &nbsp;
    span >
    | &nbsp;Edit: {{ updateCouponName }}
    div(class='subtitle') Please correctly fill the form below.

block content

  form(name='form', novalidate, class='form-table-wrapper', ng-submit='form.$valid && save()', form-processing, accessible-form)
    table(class='form-table')
      tr
        th
          span(class='field-req') *
          | Name
        td
          input(type='text', name='name', ng-model='coupon.name', required, server-error, placeholder='eg. FREESHIP10')
          div(class="field-error", ng-messages="form.name.$error", ng-if="form.name.$touched")
            p(ng-message="required") Please fill name
            p(ng-message="server") {{ serverErrors.name }}
      tr
        th
          span(class='field-req') *
          | Type
        td
          select(name='type', ng-model='coupon.type', required, server-error)
            option(value='') - Please Select -
            option(value='substract' ) Substract
            option(value='discount') Discount
            option(value='free_shipping') Free Shipping
            option(value='first_time_free') First Time Free
      tr(ng-if="['substract', 'discount'].indexOf(coupon.type) >= 0")
        th
          span(class='field-req') *
          | Value
        td
          input(type='text', name='value', ng-model='coupon.value', ng-required="['substract', 'discount'].indexOf(coupon.type) >= 0", server-error, placeholder='eg. 10')
          div(class="field-error", ng-messages="form.value.$error", ng-if="form.value.$touched")
            p(ng-message="required") Please fill value
            p(ng-message="server") {{ serverErrors.value }}
      tr(ng-if="coupon.type && coupon.type != 'free_shipping'")
        th Additional Free Shipping
        td
          label
            input(type='checkbox', name='additionalFreeShipping', ng-model='coupon.additionalFreeShipping')
            div(class="field-error", ng-messages="form.additionalFreeShipping.$error", ng-if="form.additionalFreeShipping.$touched")
              p(ng-message="server") {{ serverErrors.additionalFreeShipping }}
      tr
        th Valid At
        td
          input(type='text', name='validAt', ng-model='coupon.validAt', server-error, placeholder='yyyy-mm-dd')
          div(class="field-error", ng-messages="form.validAt.$error", ng-if="form.validAt.$touched")
            p(ng-message="server") {{ serverErrors.validAt }}
      tr
        th Expired At
        td
          input(type='text', name='expiredAt', ng-model='coupon.expiredAt', required, server-error, placeholder='yyyy-mm-dd')
          div(class="field-error", ng-messages="form.expiredAt.$error", ng-if="form.expiredAt.$touched")
            p(ng-message="required") Please fill Expired At
            p(ng-message="server") {{ serverErrors.expiredAt }}
      tr
        th One Time
        td
          label
            input(type='checkbox', name='oneTime', ng-model='coupon.oneTime')
            div(class="field-error", ng-messages="form.oneTime.$error", ng-if="form.oneTime.$touched")
              p(ng-message="server") {{ serverErrors.oneTime }}
      tr(ng-if='!coupon.oneTime || updateCouponName')
        th
          span(class='field-req') *
          | Code
        td
          input(type='text', name='code', ng-model='coupon.code', ng-required='!coupon.oneTime', server-error, placeholder='eg. happy2016')
          div(class="field-error", ng-messages="form.code.$error", ng-if="form.code.$touched")
            p(ng-message="required") Please fill Code
            p(ng-message="server") {{ serverErrors.code }}
      tr(ng-if="coupon.oneTime && !updateCouponName")
        th
          span(class='field-req') *
          | Quantity
        td
          input(type='text', name='quantity', ng-model='coupon.quantity', ng-required='coupon.oneTime', server-error, placeholder='eg. 150')
          div(class="field-error", ng-messages="form.quantity.$error", ng-if="form.quantity.$touched")
            p(ng-message="required") Please fill Quantity
            p(ng-message="server") {{ serverErrors.quantity }}
      tr(ng-if='!coupon.oneTime')
        th First Time Only
        td
          label
            input(type='checkbox', name='firstTimeOnly', ng-model='coupon.firstTimeOnly')
            div(class="field-error", ng-messages="form.firstTimeOnly.$error", ng-if="form.firstTimeOnly.$touched")
              p(ng-message="server") {{ serverErrors.firstTimeOnly }}
      tr(ng-if='!coupon.oneTime')
        th Usage Limit
        td
          input(type='text', name='usageLimit', ng-model='coupon.usageLimit', server-error, placeholder='0 for unlimited')
          div(class="field-error", ng-messages="form.usageLimit.$error", ng-if="form.usageLimit.$touched")
            p(ng-message="server") {{ serverErrors.usageLimit }}

    div(class='form-action form-action-accordion')
      table(class='form-table')
        tr
          th
            td
              input(type='submit', value='Save', class='button')