extends ../layout

block header

  h1 Coupon
    div(class='subtitle') Coupon Section

block content

  form(class='filter-form', ng-submit='changeFilter()')
    input(type='hidden', name='avoid', value='empty')
    ul(class='table-filter con')
      li
        label(for='Name') Name:
        input(type='text', ng-model='filterData.name', name='name')
      li
        label(for='Type') Type:
        input(type='text', ng-model='filterData.type', name='type')
      li
        label(for='Code') Code:
        input(type='text', ng-model='filterData.code', name='code')
      li
        label(for='Value') Value:
        input(type='text', ng-model='filterData.value', name='value')
      li
        label(for='OneTime') OneTime:
        select(ng-model='filterData.oneTime', name='oneTime')
          option(value='true') True
          option(value='false') False
      li
        label(for='isUsed') isUsed:
        select(ng-model='filterData.isUsed', name='isUsed' )
          option(value='true') True
          option(value='false') False
      li
        input(type='submit', value='Filter', class='button')
      li
        input(type='reset', value='Reset', class='button button-secondary', ng-click='resetFilter()')

  table(class='table-1 table-1-sortable')
    tr
      th(ng-click="changeSort('name')")
        span(ng-class="[{'sort-active':(sort == 'name')}, 'sort-'+sortOrder]") Name
      th(ng-click="changeSort('type')")
        span(ng-class="[{'sort-active':(sort == 'type')}, 'sort-'+sortOrder]") Type
      th(ng-click="changeSort('code')")
        span(ng-class="[{'sort-active':(sort == 'code')}, 'sort-'+sortOrder]") Code
      th(ng-click="changeSort('value')")
        span(ng-class="[{'sort-active':(sort == 'value')}, 'sort-'+sortOrder]") Value
      th(ng-click="changeSort('additionalFreeShipping')")
        span(ng-class="[{'sort-active':(sort == 'additionalFreeShipping')}, 'sort-'+sortOrder]") +Free Shipping
      th(ng-click="changeSort('oneTime')")
        span(ng-class="[{'sort-active':(sort == 'oneTime')}, 'sort-'+sortOrder]") One Time
      th(ng-click="changeSort('isUsed')")
        span(ng-class="[{'sort-active':(sort == 'isUsed')}, 'sort-'+sortOrder]") isUsed
      th
        span Action
    tr(ng-repeat='coupon in coupons')
      td {{ coupon.name }}
      td {{ coupon.type | couponType }}
      td {{ coupon.code }}
      td {{ coupon.value }}
      td {{ coupon.additionalFreeShipping | yesNo }}
      td {{ coupon.oneTime }}
      td {{ coupon.isUsed | yesNo }}
      td(class='action-column')
        a(ng-click="action('edit', $index)", class='button button-small') Edit
        a(ng-click="action('delete', $index)", class='button button-small') Delete

  paging(
    page='page',
    page-size='pageSize',
    total='total',
    adjacent='3',
    dots='...',
    scroll-top='false',
    hide-if-empty='true',
    ul-class='pagination',
    active-class='active',
    disabled-class='disabled',
    show-prev-next='true',
    paging-action="changePage('Paging Clicked', page, pageSize, total)"
  )